portal/PortalFiles/UpLoadFiles/xml/TraceJob.xsd

<?xml version="1.0" encoding="Big5"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by faust (rpti) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Description" type="MixLinkType"/>
	<xs:element name="EndDate" type="xs:date"/>
	<xs:element name="EntitySequence" type="xs:string"/>
	<xs:element name="EntityTitle" type="xs:string"/>
	<xs:element name="Offerer" type="xs:string"/>
	<xs:element name="LinkType" type="xs:string"/>
	<xs:complexType name="MixLinkType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element type="xs:string"/>
			<xs:element ref="LinkType"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="未完成"/>
				<xs:enumeration value="已完成"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JobEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntitySequence"/>
				<xs:element ref="EntityTitle"/>
				<xs:element ref="Offerer" minOccurs="0"/>
				<xs:element ref="Status"/>
				<xs:element ref="StartDate"/>
				<xs:element ref="EndDate"/>
				<xs:element ref="Process" maxOccurs="unbounded"/>
				<xs:element ref="Manager"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobName" type="xs:string"/>
	<xs:element name="Manager">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="傅向宇"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Process">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProcessSequence"/>
				<xs:element ref="Description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessSequence" type="xs:positiveInteger"/>
	<xs:element name="Remark" type="xs:string"/>
	<xs:element name="StartDate" type="xs:date"/>
	<xs:element name="TraceJob">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobName"/>
				<xs:element ref="StartDate"/>
				<xs:element ref="EndDate"/>
				<xs:element ref="Description"/>
				<xs:element ref="Remark"/>
				<xs:element ref="JobEntity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
